# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
/target/
*/target/*

.classpath
.project
.settings/*
bin/*
*.DS_Store
*/.settings/*
/.apt_generated/
/.apt_generated_tests/

*.pdf